{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for owned in ownedLists %}
                <tr>
                    <td>{{ owned['symbol'] }}</td>
                    <td>{{ owned['name'] }}</td>
                    <td>{{ owned['shares'] }}</td>
                    <td>{{ owned['currentPrice'] }}</td>
                    <td>{{ owned['total'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan = "4">CASH</td>
                <td>{{ cashOwned }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan = "4"></td>
                <td><b>{{ totalCash }}</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}